<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>食物列表</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .food-item {
        margin-bottom: 10px;
      }
      .small-card {
        width: 150px;
        height: 150px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-3">
      <h1 class="d-flex justify-content-center">食物列表</h1>
      <div class="row">
        <% foods.forEach(function(food) { %>
        <div class="col-md-2 food-item">
          <div class="card small-card">
            <div class="card-body">
              <h5 class="card-title"><%= food.name %></h5>
              <p class="card-text"><%= food.type %></p>
              <div class="row">
                <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#editModal<%= food._id %>"
              >
                編輯
              </button>
              <form action="/delete/<%= food._id %>" method="POST">
                <button class="btn btn-danger" type="submit">刪除</button>
              </form>
              </div>

            </div>
          </div>
        </div>

        <!-- 編輯食物的 Modal -->
        <div
          class="modal fade"
          id="editModal<%= food._id %>"
          tabindex="-1"
          role="dialog"
          aria-labelledby="editModalLabel<%= food._id %>"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel<%= food._id %>">
                  編輯食物
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/edit/<%= food._id %>" method="POST">
                  <div class="form-group">
                    <label for="foodName">食物名稱</label>
                    <input
                      type="text"
                      class="form-control"
                      id="foodName"
                      name="foodName"
                      value="<%= food.name %>"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="foodType">食物類型</label>
                    <select class="form-control" id="foodType" name="foodType" required>
                      <option value="meal" <%= food.type === 'meal' ? 'selected' : '' %>>正餐</option>
                      <option value="snack" <%= food.type === 'snack' ? 'selected' : '' %>>點心</option>
                    </select>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">儲存</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="text-center">
        <h2>篩選食物</h2>

        <form action="/foods" method="GET" style="display: inline">
          <button class="btn btn-primary btn-md" type="submit">全部食物</button>
        </form>
        <form action="/foods" method="GET" style="display: inline">
          <input type="hidden" name="type" value="meal" />
          <button class="btn btn-primary btn-md" type="submit">正餐</button>
        </form>
        <form action="/foods" method="GET" style="display: inline">
          <input type="hidden" name="type" value="snack" />
          <button class="btn btn-primary btn-md" type="submit">點心</button>
        </form>
      </div>

      <br />

      <div class="d-flex justify-content-center"><a href="/">返回首頁</a></div>
    </div>
  </body>
</html>
